html,
body,
* {
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --black: #242424;
  --white: #ffffff;
  --primary: var(--white);
  --secondary: var(--black);
}

.allbuttons {
  margin : 5%;
  background-color: var(--primary);
  box-shadow: 5px 5px 5px rgb(0, 168, 190);
  display: flex;
  align-items: center;
  width: 50%;
  height: 50%;
}


body {
  background-color: var(--primary);
}

.card {
  width: 22%;
  height: 525px;
  background-color: var(--primary);
  margin: 20px auto;
  box-shadow: 5px 5px 5px rgb(0, 168, 190);
  border-radius: 10%; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.form-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-inputs {
  justify-items: center;
}

.text-box {
  width: 22rem;
  height: 2.5rem;
  font-size: 2rem;
}

.Name {
  display: flex;
}

.Category {
  display: flex;
}

.container {
  width: 90vw;
  background-color: var(--primary);
  margin: 25px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.usercontainer {
  background-color: var(--primary);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90vw;
  margin: 2rem auto;
}

.usercontainercard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 26%;
  height: 55rem;
  margin: 1rem auto;
  align-items: center;
  background-color: var(--primary);
  box-shadow: 5px 5px 5px rgb(0, 168, 190);
}

.topcard {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  background-color: var(--primary);
  border: 10px;
  border-color: var(--secondary);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--secondary);
}

h2 {
  color: var(--secondary);
  text-shadow: 0px 0px 0px rgb(0, 168, 190);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary);
  cursor: pointer;
  transition: border-color 0.25s;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.whitemode {
  --primary:var(--white);
  --secondary:var(--black);
}

.darkmode {
  --primary:var(--black);
  --secondary:var(--white);
}

label {
  color: var(--secondary);
}
.form-parent {
  display: flex;
  align-items: center;
}

.btn {
  color: var(--secondary);
}
