:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --black: #242424;
  --white: #ffffff;
  --primary: var(--white);
  --secondary: var(--black);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.allbuttons {
  margin : 0;
  background-color: var(--primary);
  box-shadow: 5px 5px 5px rgb(0, 168, 190);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--primary);
}

.card {
  width: 22%;
  height: 525px;
  background-color: var(--primary);
  margin: 20px auto;
  box-shadow: 5px 5px 5px rgb(0, 168, 190);
  border-radius: 10%; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Name {
  display: flex;
}

.Category {
  display: flex;
}

.container {
  width: 90vw;
  background-color: var(--primary);
  margin: 25px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--secondary);
}

h2 {
  color: var(--secondary);
  text-shadow: 0px 0px 0px rgb(0, 168, 190);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.whitemode {
  --primary:var(--white);
  --secondary:var(--black);
}

.darkmode {
  --primary:var(--black);
  --secondary:var(--white);
}
