html,
body,
* {
  box-sizing: border-box;
  font-style: var(--secondary);
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --black: #000000;
  --white: #ffffff;
  --primary: var(--white);
  --secondary: var(--black);
}

.allbuttons {
  margin : 5%;
  background-color: var(--primary);
  box-shadow: 5px 5px 5px rgb(0, 168, 190);
  display: flex;
  align-items: center;
  width: 50%;
  height: 50%;
}

.totalimg {
  object-fit: cover;
  width: 40%;
  height: 40%;
  padding: 1vw;
  display: flex;
  object-position: center;
  align-items: center;
  border-radius: 10%;
}

.recon {
  border-color: var(--secondary);
  border-top: 5%;
  border-top-style: solid;
}

body {
  background-color: var(--primary);
}

.card {
  width: 22%;
  height: 700px;
  background-color: var(--primary);
  margin: 20px auto;
  box-shadow: 5px 5px 5px rgb(0, 168, 190);
  border-radius: 10%; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.form-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5%;
  margin-left: 175%;
}

.text-box {
  width: 22rem;
  height: 2.5rem;
  font-size: 2rem;
}

.Name {
  display: flex;
}

.Category {
  display: flex;
}

.container {
  width: 90vw;
  background-color: var(--primary);
  margin: 25px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.usercontainer {
  background-color: var(--primary);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90vw;
  margin: 2rem auto;
}

.usercontainercard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 26%;
  height: 55rem;
  margin: 1rem auto;
  align-items: center;
  background-color: var(--primary);
  box-shadow: 5px 5px 5px rgb(0, 168, 190);
}

.topcard {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  background-color: var(--primary);
  border-bottom-style: solid;
  border-bottom: 5%;
  border-color: var(--secondary);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--secondary);
}

h2 {
  color: var(--secondary);
  text-shadow: 0px 0px 0px rgb(0, 168, 190);
}

h3 {
  color: var(--secondary);
  font-size: 30px;
  text-align: center;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: var(--secondary);
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: var(--primary)) {
  :root {
    color: var(--primary);
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: var(--primary);
    box-shadow: 5px 5px 5px rgb(0, 168, 190);
    text-decoration-color: var(--primary);
  }
}

.whitemode {
  --primary:var(--white);
  --secondary:var(--black);
}

.darkmode {
  --primary:var(--black);
  --secondary:var(--white);
}

label {
  color: var(--secondary);
}
.form-parent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.btn {
  background-color: var(--primary);
  box-shadow: 5px 5px 5px rgb(0, 168, 190);
}

.img {
  object-fit: cover;
  width: 90%;
  height: 30%;
  padding: 1vw;
  display: flex;
  object-position: center;
  border-radius: 10%;
}

.hero-form-input {
  background-color: var(--primary);
}

input {
  color: var(--secondary);
  font-size: 20px;
  text-align: center;
  margin: 5%;
}
